include LICENSE
include requirements.txt
recursive-include pyrate/services *
recursive-include pyrate/scripts *
exclude pyrate/tests/credentials.py
exclude pyrate/tests/travis_credentials
recursive-exclude * *.pyc
recursive-exclude * .DS_Store