credentials = {
    'basecamp': {
        'user': '',
        'pass': '',
        'org_id': ''
    },

    'github': {
        'user': '',
        'pass': ''
    },

    'harvest': {
        'user': '',
        'pass': '',
        'organisation': ''
    },

    'mailchimp': {
        'apikey': ''
    },

    'twitter': {
        'oauth_consumer_key': '',
        'oauth_consumer_secret': '',
        'oauth_token': '',
        'oauth_token_secret': ''
    }
}